* {
    margin: 0;
}

.register-screen-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 30px 30px 0;
}

.register-screen-header > img {
    height: 50px;
    width: auto;
}

.register-screen-header > h1 {
    color: gray;
}

.input {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Mono";
    gap: 20px;
}