* {
    margin: 0;
}

html, body {
    height: 100%;
}

button, h1 {
    font-family: "Roboto Mono", sans-serif;
}

/*
    header css
*/

.main-screen-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin: 30px 30px 0;
}

.main-screen-header > img {
    height: 50px;
    width: auto;
}

.main-screen-header > h1 {
    color: gray;
}

.main-screen-header > form {
    display: flex;
    gap: 20px;
}


.main-body {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex: 1;
    height: 100%;

}
/*
    sidebar css
*/

.main-screen-sidebar {
    margin: 30px;
}

.main-screen-mailbox {
    display: flex;
    flex-direction: column;
    margin: 30px 0px 0px 30px;
    margin-left: 10px;
    width: 80%;
}

.draft {
    position: absolute;
    bottom: -70px;
    right: 10px;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: -5px -1px 10px rgb(191, 191, 191);
    font-family: "Roboto Mono";
}

.draft-header {
    background: rgb(223, 223, 223);
}