* {
    margin: 0;
}

.mail-entry {
    width: 80%;
    background: #d3d3d3;
    border-color: gray;
    border: solid;
    border-bottom: none;
    display: flex;
    flex-direction: row;
}

.sender {
    width: 10%;
    overflow: hidden;
}

.title {
    width: 20%;
    overflow: hidden;
}

.contents {
    width: 60%;
    overflow: hidden;
}

.mail-entry:last-child {
    border-bottom: solid;
}